*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html{
    background-color: #ffffff;
    color: #555;
    font-family: sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('img/hero-image.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, 
.btn-full:visited{
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 25px;
}

.btn-ghost:visited,
.btn-ghost:link{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

.span-4-of-4{ width: 100%; }
.span-3-of-4{ width: 74.6%; }
.span-2-of-4{ width: 49.2%; }
.span-1-of-4{ width: 23.8%; }

section{
    padding: 80px 0;
}

h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto 0 auto;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box{
    padding: 1%;
}

h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.section-features .row:last-child{
    display: flex;
    justify-content: space-between;
}

.section-steps .row:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-steps .step-box{
    flex: 1;
}

.section-steps .step-box:first-child{
    text-align: center;
}

.app-screen{
    width: 50%;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

.section-meals{
    padding: 0;
}

.section-features .long-copy{
    margin-bottom: 30px;
}

.works-step{
    margin-bottom: 50px;
    margin-right: 25px;
}

.steps-box:first-child{
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.works-step div{
    color: #e67e22;
    border: 4px solid #e67e22;
    display:inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.section-works{
    background-color: #f4f4f4;
}

.col{
    float: left;
 }
.row::after{
    content:""; display:table; clear:both;
}


.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
}

a:hover,
a:active{
    color:#555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s color;
}

.section-testimonials .row {
    display: flex;           
    gap: 30px;               
    justify-content: center;
}

.section-testimonials .col {
    flex: 1;                 
}

blockquote {
    padding: 2%;
    font-style: italic;      
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    color: #555;
}

cite {
    display: flex;           
    align-items: center;     
    margin-top: 25px;
    font-style: normal;      
}

cite img {
    height: 50px;            
    width: 50px;
    border-radius: 50%;      
    margin-right: 15px; 
}

.span-1-of-3{
    width: 32%;
}
.span-2-of-3{
    width: 66%;
}
.span-3-of-3{
    width: 100%;
}

